#background{
    display: block;
    height: 100%;
    min-height: 100vh;
    background-size: 100% 100%;
    background-image: url("../../assets/as.jpg");
    background-repeat: no no-repeat;
   
}

.cont{
    text-align: center;
    min-width: 300px;
    width:40%;
    margin:0 auto;
    padding-top: 11em;
}

.button{
    position: relative;

}

#bg{
    position:relative;
    width: 1200px;   
}

.primary-photo{
    height: auto;
    width: 200px;
}